<!DOCTYPE html>
<html lang="en" >
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FRH0T6MT9M"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FRH0T6MT9M');
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <meta charset="UTF-8">
  <title>BIG BOSS CHARACTER</title>
   <link rel = "icon" href = "/static/website/eye.png" sizes="20x20 40x40" type = "image/x-icon">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=61953dfe16d9bf0012968280&product=sticky-share-buttons' async='async'></script>
  <style>
 
    .jumbotron { 
  padding: 30px; /* fills out the jumbotron */
  background-color: #AB2330
  ;
  margin-bottom: 90px;
}
.jumbotron .container { 
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
}
    body {
  background: #252c4a;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
font-weight: bold;
}
  </style>
</head>
<body>

  <div class="box" id="box"></div>
  <div id="logo"> 
    <img src="/static/website/eye.png" style="float:left; width: 200px;"> 
  </div> 
  <div id="logo1"> 
    <img src="/static/website/Kamal.jpeg" style="float:right; width: 170px;"> 
  </div> 
  <div class="jumbotron" style="float:center;">
    <div class="container">
      <center><h1 class="display-4" style="color:white;">Which Bigg Boss contestant matches your Character?</h1></center>
    </div>
    </div>
  <div class="sharethis-sticky-share-buttons"></div> 
  <div class="container">
    <center><iframe style="width:214px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B077N7DDL1&asins=B077N7DDL1&linkId=ed007e57351b065c88930eff7f524f55&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B096SN37FH&asins=B096SN37FH&linkId=54945ed76f53ee37b99727d65c69840f&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
    </iframe></center><br><br>
    <center><iframe style="width:214px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B091L4F6N4&asins=B091L4F6N4&linkId=c3146293afe47260d0d43d83cf5dbf9b&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B09JY12758&asins=B09JY12758&linkId=b7ff64167843e7cda86ca3ce79aaafcd&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
    </iframe></center>
  </div>
  

<!-- partial:index.partial.html -->
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet" />

<div class="container">

      <form class="quiz-form" action="/people/" method="post">
        <br>
        <h1 style="text-align: center; font-size: 30px; margin-bottom: 10px;">Enter your name</h1>
        <center><input type="text" name="name" id="name"  required/></center>
        <br>
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            1. How will you react when you are with a new group of people? 
          </p>
          <br>
          <center><img src="/static/website/introvert.jpeg" style="max-width: 100%;  
          height: auto"></center>
          <br>
          <label class="quiz-form__ans" for="q11">
            <input type="radio" name="q1" id="q11" value="1" required/>
            <span class="design"></span>
            <span class="text">Irukura edam theriyama irundhutu poiruvom!</span>
          </label>
          <label class="quiz-form__ans" for="q12">
            <input type="radio" name="q1" id="q12" value="2" />
            <span class="design"></span>
            <span class="text">Interact if it is needed
            </span>
          </label>
          <label class="quiz-form__ans" for="q13">
            <input type="radio" name="q1" id="q13" value="3" />
            <span class="design"></span>
            <span class="text">Pesuna pesuvom</span>
          </label>
          <label class="quiz-form__ans" for="q14">
            <input type="radio" name="q1" id="q14" value="4" />
            <span class="design"></span>
            <span class="text">Interacting with interactive people
            </span>
          </label>
        <label class="quiz-form__ans" for="q15">
          <input type="radio" name="q1" id="q15" value="5" />
          <span class="design"></span>
          <span class="text">Vaanga pazhaguvom</span>
        </label>
      </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            2. How did you spend your time during the pandemic?
          </p>
          <br>
          <center><img src="/static/website/active.jpeg" style="max-width: 100%;  
          height: auto"></center>
          <br>
          <label class="quiz-form__ans" for="q21">
            <input type="radio" name="q2" id="q21" value="1" required/>
            <span class="design"></span>
            <span class="text">Eat, sleep, phone, repeat</span>
          </label>
          <label class="quiz-form__ans" for="q22">
            <input type="radio" name="q2" id="q22" value="2" />
            <span class="design"></span>
            <span class="text">Last-minute worker</span>
          </label>
          <label class="quiz-form__ans" for="q23">
            <input type="radio" name="q2" id="q23" value="3" />
            <span class="design"></span>
            <span class="text">Do works when comfortable</span>
          </label>
          <label class="quiz-form__ans" for="q24">
            <input type="radio" name="q2" id="q24" value="4" />
            <span class="design"></span>
            <span class="text">Balancing work and life</span>
          </label>
          <label class="quiz-form__ans" for="q25">
            <input type="radio" name="q2" id="q25" value="5" />
            <span class="design"></span>
            <span class="text">Workaholic</span>
          </label>
        </div>
        
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            3. How funny are you? 
          </p>
          <br>
          <center><img src="/static/website/humour.jpeg" style="max-width: 100%;  
          height: auto;"></center>
          <br>
          <label class="quiz-form__ans" for="q31">
            <input type="radio" name="q3" id="q31" value="1" required/>
            <span class="design"></span>
            <span class="text">Idhellam oru joke ah bro?</span>
          </label>
          <label class="quiz-form__ans" for="q32">
            <input type="radio" name="q3" id="q32" value="2" />
            <span class="design"></span>
            <span class="text">Tries to joke - Palaya joke Thanga Durai
            </span>
          </label>
          <label class="quiz-form__ans" for="q33">
            <input type="radio" name="q3" id="q33" value="3" />
            <span class="design"></span>
            <span class="text">Make mokka jokes - Madura veeran dhaane</span>
          </label>
          <label class="quiz-form__ans" for="q34">
            <input type="radio" name="q3" id="q34" value="4" />
            <span class="design"></span>
            <span class="text">Funny with my people </span>
          </label>
          <label class="quiz-form__ans" for="q35">
            <input type="radio" name="q3" id="q35" value="5" />
            <span class="design"></span>
            <span class="text">Makes everyone laugh </span>
          </label>
        </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            4. How do you see yourself?
          </p>
          <br>
          <center><img src="/static/website/attractiveness.jpeg" style="max-width: 100%;  
          height: auto;"></center>
          <br>
          <label class="quiz-form__ans" for="q41">
            <input type="radio" name="q4" id="q41" value="1" required/>
            <span class="design"></span>
            <span class="text">No comments simply waste
            </span>
          </label>
          <label class="quiz-form__ans" for="q42">
            <input type="radio" name="q4" id="q42" value="2" />
            <span class="design"></span>
            <span class="text">Pppahh yarra idhu</span>
          </label>
          <label class="quiz-form__ans" for="q43">
            <input type="radio" name="q4" id="q43" value="3" />
            <span class="design"></span>
            <span class="text">Looks good occasionally</span>
          </label>
          <label class="quiz-form__ans" for="q44">
            <input type="radio" name="q4" id="q44" value="4" />
            <span class="design"></span>
            <span class="text">People stare at me sometimes</span>
          </label>
          <label class="quiz-form__ans" for="q45">
            <input type="radio" name="q4" id="q45" value="5" />
            <span class="design"></span>
            <span class="text">Azhage poramai padum perazhagu</span>
          </label>
        </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            5. How good are you at leading a team? 
  
          </p>
          <br>
          <center><img src="/static/website/leadership.jpeg" style="max-width: 100%;  
          height: auto"></center>
          <br>
          <label class="quiz-form__ans" for="q51">
            <input type="radio" name="q5" id="q51" value="1"  required/>
            <span class="design"></span>
            <span class="text">Namaku edhuku vambu</span>
          </label>
          <label class="quiz-form__ans" for="q52">
            <input type="radio" name="q5" id="q52" value="2" />
            <span class="design"></span>
            <span class="text">Leader for the sake</span>
          </label>
          <label class="quiz-form__ans" for="q53">
            <input type="radio" name="q5" id="q53" value="3" />
            <span class="design"></span>
            <span class="text">Would lead if forced</span>
          </label>
          <label class="quiz-form__ans" for="q54">
            <input type="radio" name="q5" id="q54" value="4" />
            <span class="design"></span>
            <span class="text">Likes to lead
            </span>
          </label>
          <label class="quiz-form__ans" for="q55">
            <input type="radio" name="q5" id="q55" value="5" />
            <span class="design"></span>
            <span class="text">I’ll always lead
            </span>
          </label>
        </div>
        <script type="text/javascript" language="javascript">
          var aax_size='728x90';
          var aax_pubname = 'surya0a2-21';
          var aax_src='302';
        </script>
        <script type="text/javascript" language="javascript" src="http://c.amazon-adsystem.com/aax2/assoc.js"></script>
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            6. What will you do when you are at a marriage dance party?
  
          </p>
          <br>
          <center><img src="/static/website/dance.jpeg" style="max-width: 100%;  height: auto;"></center>
          <br>
          <label class="quiz-form__ans" for="q61">
            <input type="radio" name="q6" id="q61" value="1" required/>
            <span class="design"></span>
            <span class="text">I think I should leave
            </span>
          </label>
          <label class="quiz-form__ans" for="q62">
            <input type="radio" name="q6" id="q62" value="2" />
            <span class="design"></span>
            <span class="text">Summa vedikka papen
            </span>
          </label>
          <label class="quiz-form__ans" for="q63">
            <input type="radio" name="q6" id="q63" value="3" />
            <span class="design"></span>
            <span class="text">Dancing by sitting 
            </span>
          </label>
          <label class="quiz-form__ans" for="q64">
            <input type="radio" name="q6" id="q64" value="4" />
            <span class="design"></span>
            <span class="text">Dancing with my friends in the separate place
            </span>
          </label>
          <label class="quiz-form__ans" for="q65">
            <input type="radio" name="q6" id="q65" value="5" />
            <span class="design"></span>
            <span class="text">Erangi oru kuthattam poduven
            </span>
          </label>
        </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            7. You are at a party and someone gives a mic to you to sing, what do you do?
          </p>
          <br>
          <center><img src="/static/website/sing.jpeg" style="max-width: 100%;  
          height: auto;"></center>
          <br>
          <label class="quiz-form__ans" for="q71">
            <input type="radio" name="q7" id="q71" value="1" required/>
            <span class="design"></span>
            <span class="text">Isai mazhaiyil nanaya neengal thaayara</span>
          </label>
          <label class="quiz-form__ans" for="q72">
            <input type="radio" name="q7" id="q72" value="2" />
            <span class="design"></span>
            <span class="text">Only humming- Sing in the rain, I am swine in the rain!</span>
          </label>
          <label class="quiz-form__ans" for="q73">
            <input type="radio" name="q7" id="q73" value="3" />
            <span class="design"></span>
            <span class="text">Nane oru bathroom singer ngaa</span>
          </label>
          <label class="quiz-form__ans" for="q74">
            <input type="radio" name="q7" id="q74" value="4" />
            <span class="design"></span>
            <span class="text">Good singer</span>
          </label>
          <label class="quiz-form__ans" for="q75">
            <input type="radio" name="q7" id="q75" value="5" />
            <span class="design"></span>
            <span class="text">Basic ah ve na oru Super singer </span>
          </label>
        </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            8. How will you react when the teacher asks you a question in front of everyone?
  
          </p>
          <br>
          <img src="/static/website/stress.jpeg" style="max-width: 100%;  
          height: auto;  ">
          <br>
          <br>
          <label class="quiz-form__ans" for="q81">
            <input type="radio" name="q8" id="q81" value="1" required/>
            <span class="design"></span>
            <span class="text">Venam valikuthu, aluthuruven</span>
          </label>
          <label class="quiz-form__ans" for="q82">
            <input type="radio" name="q8" id="q82" value="2" />
            <span class="design"></span>
            <span class="text">Summa nippen</span>
          </label>
          <label class="quiz-form__ans" for="q83">
            <input type="radio" name="q8" id="q83" value="3" />
            <span class="design"></span>
            <span class="text">Building strong uh basement weak uh</span>
          </label>
          <label class="quiz-form__ans" for="q84">
            <input type="radio" name="q8" id="q84" value="4" />
            <span class="design"></span>
            <span class="text">Edachu solli Samalipom</span>
          </label>
          <label class="quiz-form__ans" for="q85">
            <input type="radio" name="q8" id="q85" value="5" />
            <span class="design"></span>
            <span class="text">Arasiyalla ithellam satharanamappa</span>
          </label>
        </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            9. If someone speaks badly about your parama ethiri, what do you do?
          </p>
          <br>
          <center>
          <img src="/static/website/gossip.jpeg" style="max-width: 100%;  
          height: auto;  "></center>
          <br>
          <label class="quiz-form__ans" for="q91">
            <input type="radio" name="q9" id="q91" value="1" required/>
            <span class="design"></span>
            <span class="text">Na kanduka maten,avlo worth illa</span>
          </label>
          <label class="quiz-form__ans" for="q92">
            <input type="radio" name="q9" id="q92" value="2" />
            <span class="design"></span>
            <span class="text">Entertainment kaaga keppen</span>
          </label>
          <label class="quiz-form__ans" for="q93">
            <input type="radio" name="q9" id="q93" value="3" />
            <span class="design"></span>
            <span class="text">Point varatum pesuvom</span>
          </label>
          <label class="quiz-form__ans" for="q94">
            <input type="radio" name="q9" id="q94" value="4" />
            <span class="design"></span>
            <span class="text">Pesa arambichen! Pesa arambichen! Chennai airport vara pesuven</span>
          </label>
          <label class="quiz-form__ans" for="q95">
            <input type="radio" name="q9" id="q95" value="5" />
            <span class="design"></span>
            <span class="text">Vechu senjuruven</span>
          </label>
        </div>
  
        <div class="quiz-form__quiz">
          <p class="quiz-form__question">
            10. How likely are you influenced by others? 
          </p>
          <br>
          <img src="/static/website/influence.jpeg" style="max-width: 100%;  
          height: auto;  ">
          <br>
           <br>
          <label class="quiz-form__ans" for="q101">
            <input type="radio" name="q10" id="q101" value="1" required/>
            <span class="design"></span>
            <span class="text">No one can influence me</span>
          </label>
          <label class="quiz-form__ans" for="q102">
            <input type="radio" name="q10" id="q102" value="2" />
            <span class="design"></span>
            <span class="text">Influenced by my favorite people</span>
          </label>
          <label class="quiz-form__ans" for="q103">
            <input type="radio" name="q10" id="q103" value="3" />
            <span class="design"></span>
            <span class="text">Depending on the circumstances</span>
          </label>
          <label class="quiz-form__ans" for="q104">
            <input type="radio" name="q10" id="q104" value="4" />
            <span class="design"></span>
            <span class="text">Get influenced without knowing</span>
          </label>
          <label class="quiz-form__ans" for="q105">
            <input type="radio" name="q10" id="q105" value="5" />
            <span class="design"></span>
            <span class="text">Easily influential</span>
          </label>
        </div>
          <div class="quiz-form__quiz">
            <p class="quiz-form__question">
              11. How will you be when you fail in one of the exams? 
            </p>
            <br>
            <div class="container">
             <center><img src="/static/website/optimistic.jpeg" style="max-width: 100%;  height: auto;"></center>
             </div>
               <br>
            <label class="quiz-form__ans" for="q111">
              <input type="radio" name="q11" id="q111" value="1" required/>
              <span class="design"></span>
              <span class="text">Vazhkaiya theadi nanum poren...</span>
            </label>
            <label class="quiz-form__ans" for="q112">
              <input type="radio" name="q11" id="q112" value="2" />
              <span class="design"></span>
              <span class="text">Life is full of problems and pain
              </span>
            </label>
            <label class="quiz-form__ans" for="q113">
              <input type="radio" name="q11" id="q113" value="3" />
              <span class="design"></span>
              <span class="text">Just thinking to study for the next exam
              </span>
            </label>
            <label class="quiz-form__ans" for="q114">
              <input type="radio" name="q11" id="q114" value="4" />
              <span class="design"></span>
              <span class="text">Study properly for the next exam
              </span>
            </label>
            <label class="quiz-form__ans" for="q115">
              <input type="radio" name="q11" id="q115" value="5" />
              <span class="design"></span>
              <span class="text">Life is full of surprises and miracles
              </span>
            </label>
          </div>
        </div>
        <br>
       
      
        <input class="submit" type="submit" value="Submit" />
       
     </form>
     <div class="container">
      <center><iframe style="width:214px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B09FKDH6FS&asins=B09FKDH6FS&linkId=7d9c8a1e082047b701e6a7efdc9fcbcc&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
    </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B07T4W4BFM&asins=B07T4W4BFM&linkId=c62a872836eca50445519108895b8ea2&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
          </iframe> </center><br><br>
      
         <center><iframe style="width:215px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B07S3H1BPS&asins=B07S3H1BPS&linkId=fc68ad242d913d8cb53d37bf55318a1d&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
      </iframe>
     <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=surya0a2-21&marketplace=amazon&amp;region=IN&placement=B07THZR677&asins=B07THZR677&linkId=360bd0bac536e03152b647702c52b2f8&show_border=true&link_opens_in_new_window=true&price_color=0a0a0a&title_color=ed1d2b&bg_color=faf2f2">
     </iframe>

       </center>
     
    </div>
     
    </div>
  </div>
</div>

</body>
</html>
